<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss} : %-5p %c{1} - %m%n" />
    </Console>
  </Appenders>
  <Loggers>
    <Root level="all">
        <AppenderRef ref="Console" />
    </Root>

    <Logger name="ca.canada.treasury.testbed.web" level="info" additivity="false">
      <AppenderRef ref="Console" />
    </Logger>
    <Logger name="com" level="info" additivity="false">
      <AppenderRef ref="Console" />
    </Logger>
    <Logger name="org" level="info" additivity="false">
      <AppenderRef ref="Console" />
    </Logger>

  </Loggers>
</Configuration>