.home .home-banner {
    background-color: #eee;
    background-image: url(https://gc-proto.github.io/alpha-test/GCWeb/css/istockphoto-646804838-1024x1024.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #fff;
}

.home .home-banner .innerbox {
    background-color: #26374a;
    margin: 2em 0;
    padding: 20px;
}

.home .home-banner .innerbox h1 {

  border-bottom-width: 4px;
  font-weight: 500;
  margin-top: 10px;
  color: #FFF;
}

footer .region-footer section {
  display: none;
}