.promo figcaption a.figcaption {
  color: #fff;
  text-decoration: underline;
}

.promo a.figcaption {
  color: #fff;
}

figcaption.h5 {
  text-decoration: underline;
  color: #284162;
}

figure p a.figcaption {
  color: #333;
  font-size: 17px;
  line-height: 1em;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}