summary {
	border: none !important;
	margin: 0 0 0 0 !important;
	padding: 0 0 0 0 !important;	

}

summary span {
  font-size: 18px !important;
  text-decoration: underline !important;
}

details {
	border: none !important;
	margin: 0 0 0 0 !important;
	padding: 0 0 0 0 !important;

}

/* search codes css */

.dropdown-search select {
  position:relative;
  height: 2.2em;
  margin-right: -.5em;
  margin-left: 1.2em;
  z-index: 1;
  border-radius: 0;
}

