<!DOCTYPE>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<div layout:fragment="content">
	<h1 property="name" id="wb-cont" th:text="#{termsandconditions}"></h1>
	<p th:text="#{pleaseAcceptTermsConditionsMsg}"></p>
	<div class="wb-frmvld">
		<form method="post" action="termsPost">
			<div class="form-group">
				<label for="term1" class="control-label"
					th:text="#{term1Msg}"></label> <input class="form-control"
					id="term1" name="term1" type="checkbox"
					required="true" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary"
					th:text="#{submitTermAgreement}"></button>
			</div>
			<p>
				<span th:text="#{assistMsg}"></span><a
					href="mailto:dto.btn@tbs-sct.gc.ca">dto.btn@tbs-sct.gc.ca</a>
			<p>
		</form>
	</div>
</div>
</html>
