<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
<title>Experimental Platform Request</title>
<meta content="width=device-width,initial-scale=1" name="viewport">
<!-- Meta data -->
<meta name="description"
	content="Web Experience Toolkit (WET) includes reusable components for building and maintaining innovative Web sites that are accessible, usable, and interoperable. These reusable components are open source software and free for use by departments and external Web communities">
<!-- Meta data-->
<!-- Load closure template scripts -->

<script
	src="https://ssl-templates.services.gc.ca/app/cls/WET/gcweb/v4_0_31/cdts/compiled/soyutils.js"></script>
<script
	src="https://ssl-templates.services.gc.ca/app/cls/WET/gcweb/v4_0_31/cdts/compiled/wet-en.js"></script>

<noscript>
	<!-- Write closure fall-back static file -->
	<!-- /ROOT/etc/designs/canada/cdts/gcweb/v4_0_31/cdts/static/refTop.html -->
	<!--[if gte IE 9 | !IE ]><!-->
	<link
		href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_31/assets/favicon.ico"
		rel="icon" type="image/x-icon">
	<link rel="stylesheet"
		href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_31/css/theme.min.css">
	<link rel="stylesheet"
		href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_31/cdts/cdtsfixes.css">
	<!-- Are you using the application templates? If so add the following CSS file -->
	<!-- <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_31/cdts/cdtsapps.css">-->
	<!--<![endif]-->
	<!--[if lt IE 9]>
		<link href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_31/assets/favicon.ico" rel="shortcut icon" />
		<link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_31/css/ie8-theme.min.css" />
		<![endif]-->
	<!--[if lte IE 9]><![endif]-->
	<link rel="stylesheet"
		href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_31/css/noscript.min.css" />
	<link rel="stylesheet"
		href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_31/cdts/cdtsnoscript.css" />
</noscript>
<!-- Write closure template -->
<script>
	document.write(wet.builder.refTop({
		"cdnEnv" : "prod"
	}));
</script>
</head>
<body vocab="http://schema.org/" typeof="WebPage">
	<div id="def-top">
		<!-- Write closure fall-back static file -->
		<!-- /ROOT/etc/designs/canada/cdts/gcweb/v4_0_31/cdts/static/top-en.html -->
		<ul id="wb-tphp">
			<li class="wb-slc"><a class="wb-sl" href="#wb-cont">Skip to
					main content</a></li>
			<li class="wb-slc visible-sm visible-md visible-lg"><a
				class="wb-sl" href="#wb-info">Skip to "About this site"</a></li>
		</ul>
		<header>
			<div id="wb-bnr" class="container">
				<div class="row">
					<div class="brand col-xs-5 col-md-4" property="publisher"
						typeof="GovernmentOrganization">
						<a href="https://www.canada.ca/en.html" property="url"><img
							src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_31/assets/sig-blk-en.svg"
							alt="" property="logo" /> <span class="wb-inv" property="name">
								Government of Canada / <span lang="fr">Gouvernement du
									Canada</span>
						</span></a>
						<meta property="areaServed" typeOf="Country" content="Canada" />
						<link property="logo"
							href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_31/assets/wmms-blk.svg" />
					</div>
					<section id="wb-srch" class="col-lg-8 text-right">
						<h2>Search</h2>
						<form action="https://www.canada.ca/en/sr.html" method="get"
							name="cse-search-box" role="search" class="form-inline">
							<div class="form-group">
								<label for="wb-srch-q" class="wb-inv">Search Canada.ca</label> <input
									name="cdn" value="canada" type="hidden"> <input
									name="st" value="s" type="hidden"> <input name="num"
									 type="hidden"> <input name="langs"
									value="en" type="hidden"> <input name="st1rt" value="1"
									type="hidden"> <input name="s5bm3ts21rch" value="x"
									type="hidden"> <input id="wb-srch-q"
									list="wb-srch-q-ac" class="wb-srch-q form-control" name="q"
									type="search" value="" size="34" maxlength="170"
									placeholder="Search Canada.ca"> <input type="hidden"
									name="_charset_" value="UTF-8">
								<datalist id="wb-srch-q-ac">
									<!--[if lte IE 9]><select><![endif]-->
									<!--[if lte IE 9]></select><![endif]-->
								</datalist>
							</div>
							<div class="form-group submit">
								<button type="submit" id="wb-srch-sub"
									class="btn btn-primary btn-small" name="wb-srch-sub">
									<span class="glyphicon-search glyphicon"></span><span
										class="wb-inv">Search</span>
								</button>
							</div>
						</form>
					</section>
				</div>
			</div>
			<nav class="gcweb-menu" typeof="SiteNavigationElement">
				<div class="container">
					<h2 class="wb-inv">Menu</h2>
					<button type="button" aria-haspopup="true" aria-expanded="false">
						<span class="wb-inv">Main </span>Menu <span
							class="expicon glyphicon glyphicon-chevron-down"></span>
					</button>
					<ul role="menu" aria-orientation="vertical">
						<li role="presentation"><a role="menuitem"
							href="https://www.canada.ca/en/services/jobs.html">Jobs and
								the workplace</a></li>
						<li role="presentation"><a role="menuitem"
							href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration
								and citizenship</a></li>
						<li role="presentation"><a role="menuitem"
							href="https://travel.gc.ca/">Travel and tourism</a></li>
						<li role="presentation"><a role="menuitem"
							href="https://www.canada.ca/en/services/business.html">Business
								and industry</a></li>
						<li role="presentation"><a role="menuitem"
							href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
						<li role="presentation"><a role="menuitem"
							href="https://www.canada.ca/en/services/health.html">Health</a></li>
						<li role="presentation"><a role="menuitem"
							href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
						<li role="presentation"><a role="menuitem"
							href="https://www.canada.ca/en/services/environment.html">Environment
								and natural resources</a></li>
						<li role="presentation"><a role="menuitem"
							href="https://www.canada.ca/en/services/defence.html">National
								security and defence</a></li>
						<li role="presentation"><a role="menuitem"
							href="https://www.canada.ca/en/services/culture.html">Culture,
								history and sport</a></li>
						<li role="presentation"><a role="menuitem"
							href="https://www.canada.ca/en/services/policing.html">Policing,
								justice and emergencies</a></li>
						<li role="presentation"><a role="menuitem"
							href="https://www.canada.ca/en/services/transport.html">Transport
								and infrastructure</a></li>
						<li role="presentation"><a role="menuitem"
							href="http://international.gc.ca/world-monde/index.aspx?lang=eng">Canada
								and the world</a></li>
						<li role="presentation"><a role="menuitem"
							https://developer.github.com/v4/object/pullrequest/#fields
							href="https://www.canada.ca/en/services/finance.html">Money
								and finances</a></li>
						<li role="presentation"><a role="menuitem"
							href="https://www.canada.ca/en/services/finance.html">Science
								and innovation</a></li>
					</ul>
				</div>
			</nav>
			<nav id="wb-bc" property="breadcrumb">
				<h2>You are here:</h2>
				<div class="container">
					<div class="row">
						<ol class="breadcrumb">
							<li><a href="https://www.canada.ca/en.html">Home</a></li>
						</ol>
					</div>
				</div>
			</nav>
		</header>
	</div>
	<!-- Write closure template -->
	<script>
		var defTop = document.getElementById("def-top");
		defTop.outerHTML = wet.builder.top({
			"cdnEnv" : "esdcprod",
			"lngLinks" : [ {
				"lang" : "fr",
				"href" : "content-fr.shtml",
				"text" : "Français"
			} ]
		});
	</script>
	<main property="mainContentOfPage" typeof="WebPageElement"
		class="container">
	<h1 property="name" id="wb-cont" th:text="#{greeting}"></h1>
	<div class="wb-frmvld">
		<form method="post" action="requestPost">
			<div class="form-group">
				<label for="domainNamePrefix" class="control-label">Domain
					Name Prefix</label> <input class="form-control" id="domainNamePrefix"
					name="domainNamePrefix" type="text" maxlength="30"
					pattern="[A-Za-z\s]" data-rule-lettersonly="true"
					data-rule-minlength="6" size="40" />
			</div>
			<div class="form-group">
				<div>
					<strong>Your domain</strong>
				</div>
				<div id="domainExample"></div>
			</div>
			<div class="form-group">
				<label for="emailAddress" class="control-label">Email
					Address</label> <input type="email" id="emailAddress" name="emailAddress"
					class="form-control" required="required" maxlength="100" size="40">
			</div>
			<div class="form-group">
				<label for="endDate" class="control-label">Approximate end
					date of experiment <span class="datepicker-format"> (<abbr
						title="Four digits year, dash, two digits month, dash, two digits day">YYYY-MM-DD</abbr>)
				</span>
				<a href="#centred-popup" aria-controls="centred-popup" class="wb-lbx" role="button"><i class="fas fa-info-circle"></i></a>
				</label> <input class="form-control" type="date" id="endDate" name="endDate"
					required="required" />
			</div>
			<div class="form-group">
				<label for="experimentName" class="control-label">Experiment
					Name</label> <input type="text" id="experimentName" name="experimentName"
					class="form-control" required="required" maxlength="50" size="40">
			</div>
			<div class="form-group">
				<label for="experimentDesc" class="control-label">Experiment
					Description</label>
				<textarea id="experimentDesc" name="experimentDesc"
					class="form-control" rows="5" cols="39" required="required"
					maxlength="1000"></textarea>
			</div>
			<div class="form-group">
				<label for="department" class="control-label">Department</label> 
				<div>
					<input id="department" name="department" type="text" list="departments" required="required" size="41" maxlength="100"/>
					<datalist id="departments" name="departments">
	<option value="Administrative Tribunals Support Service of Canada">Administrative
		Tribunals Support Service of Canada</option>
	<option value="Advisory Panel on Responsible Conduct of Research">Advisory
		Panel on Responsible Conduct of Research</option>
	<option value="Agriculture and Agri-Food Canada">Agriculture
		and Agri-Food Canada</option>
	<option value="Atlantic Canada Opportunities Agency">Atlantic
		Canada Opportunities Agency</option>
	<option value="Bedford Institute of Oceanography">Bedford
		Institute of Oceanography</option>
	<option value="Canada-Alberta Oil Sands Environmental Monitoring">Canada-Alberta
		Oil Sands Environmental Monitoring</option>
	<option value="Canada Agricultural Review Tribunal">Canada
		Agricultural Review Tribunal</option>
	<option value="Canada Border Services Agency">Canada Border
		Services Agency</option>
	<option value="Canada Economic Development for Quebec Regions">Canada
		Economic Development for Quebec Regions</option>
	<option value="Canada Employment Insurance Commission">Canada
		Employment Insurance Commission</option>
	<option value="Canada Excellence Research Chairs">Canada
		Excellence Research Chairs</option>
	<option value="Canada Firearms Centre">Canada Firearms Centre</option>
	<option value="Canada Industrial Relations Board">Canada
		Industrial Relations Board</option>
	<option value="Canada Infrastructure Bank">Canada
		Infrastructure Bank</option>
	<option value="Canada Research Chairs">Canada Research Chairs</option>
	<option value="Canada Revenue Agency">Canada Revenue Agency</option>
	<option value="Canada School of Public Service">Canada School
		of Public Service</option>
	<option value="Canadian Army">Canadian Army</option>
	<option value="Canadian Centre for Housing Technology">Canadian
		Centre for Housing Technology</option>
	<option value="Canadian Centre for Occupational Health and Safety">Canadian
		Centre for Occupational Health and Safety</option>
	<option value="Canadian Coast Guard">Canadian Coast Guard</option>
	<option value="Canadian Commercial Corporation">Canadian
		Commercial Corporation</option>
	<option value="Canadian Conservation Institute">Canadian
		Conservation Institute</option>
	<option value="Canadian Cultural Property Export Review Board">Canadian
		Cultural Property Export Review Board</option>
	<option value="Canadian Dairy Information Centre (CDIC)">Canadian
		Dairy Information Centre (CDIC)</option>
	<option value="Canadian Environmental Assessment Agency">Canadian
		Environmental Assessment Agency</option>
	<option value="Canadian Food Inspection Agency">Canadian Food
		Inspection Agency</option>
	<option value="Canadian Grain Commission">Canadian Grain
		Commission</option>
	<option value="Canadian Heritage">Canadian Heritage</option>
	<option value="Canadian Heritage Information Network">Canadian
		Heritage Information Network</option>
	<option value="Canadian Human Rights Commission">Canadian
		Human Rights Commission</option>
	<option value="Canadian Institutes of Health Research">Canadian
		Institutes of Health Research</option>
	<option value="Canadian Intellectual Property Office">Canadian
		Intellectual Property Office</option>
	<option value="Canadian Intergovernmental Conference Secretariat">Canadian
		Intergovernmental Conference Secretariat</option>
	<option value="Canadian International Trade Tribunal">Canadian
		International Trade Tribunal</option>
	<option value="Canadian Northern Economic Development Agency">Canadian
		Northern Economic Development Agency</option>
	<option value="Canadian Nuclear Safety Commission">Canadian
		Nuclear Safety Commission</option>
	<option value="Canadian Pari-Mutuel Agency">Canadian
		Pari-Mutuel Agency</option>
	<option
		value="Canadian Radio-television and Telecommunications Commission">Canadian
		Radio-television and Telecommunications Commission</option>
	<option value="Canadian Security Intelligence Service">Canadian
		Security Intelligence Service</option>
	<option value="Canadian Space Agency">Canadian Space Agency</option>
	<option value="Canadian Special Operations Forces Command">Canadian
		Special Operations Forces Command</option>
	<option value="Canadian Transportation Agency">Canadian
		Transportation Agency</option>
	<option value="Civilian Review and Complaints Commission for the RCMP">Civilian
		Review and Complaints Commission for the RCMP</option>
	<option value="Committee on the status of Endangered Wildlife">Committee
		on the status of Endangered Wildlife</option>
	<option value="Communications Research Centre Canada">Communications
		Research Centre Canada</option>
	<option value="Communications Security Establishment">Communications
		Security Establishment</option>
	<option value="Competition Bureau Canada">Competition Bureau
		Canada</option>
	<option value="Competition Tribunal">Competition Tribunal</option>
	<option value="Copyright Board Canada">Copyright Board Canada</option>
	<option value="Correctional Service Canada">Correctional
		Service Canada</option>
	<option value="Criminal Intelligence Service Canada">Criminal
		Intelligence Service Canada</option>
	<option value="Defence Research and Development Canada">Defence
		Research and Development Canada</option>
	<option value="Democratic Institutions">Democratic
		Institutions</option>
	<option value="Department of Finance Canada">Department of
		Finance Canada</option>
	<option value="Department of Justice Canada">Department of
		Justice Canada</option>
	<option value="Education in Canada">Education in Canada</option>
	<option value="Employment and Social Development Canada">Employment
		and Social Development Canada</option>
	<option value="Environmental Protection Review Canada">Environmental
		Protection Review Canada</option>
	<option value="Environment and Climate Change Canada">Environment
		and Climate Change Canada</option>
	<option value="Farm Products Council of Canada">Farm Products
		Council of Canada</option>
	<option
		value="Federal Economic Development Agency for Southern Ontario">Federal
		Economic Development Agency for Southern Ontario</option>
	<option
		value="Federal Economic Development Initiative for Northern Ontario">Federal
		Economic Development Initiative for Northern Ontario</option>
	<option value="Financial Consumer Agency of Canada">Financial
		Consumer Agency of Canada</option>
	<option
		value="Financial Transactions and Reports Analysis Centre of Canada">Financial
		Transactions and Reports Analysis Centre of Canada</option>
	<option value="Fisheries and Oceans Canada">Fisheries and
		Oceans Canada</option>
	<option value="Genomics Research and Defence Initiative">Genomics
		Research and Defence Initiative</option>
	<option value="Global Affairs Canada">Global Affairs Canada</option>
	<option value="Health Canada">Health Canada</option>
	<option value="Historic Sites and Monuments Board of Canada">Historic
		Sites and Monuments Board of Canada</option>
	<option value="Human Rights Tribunal of Canada">Human Rights
		Tribunal of Canada</option>
	<option value="Immigration, Refugees and Citizenship Canada">Immigration,
		Refugees and Citizenship Canada</option>
	<option value="Immigration and Refugee Board of Canada">Immigration
		and Refugee Board of Canada</option>
	<option value="Independent Review Panel for Defence Acquisition">Independent
		Review Panel for Defence Acquisition</option>
	<option value="Indian Oil and Gas Canada">Indian Oil and Gas
		Canada</option>
	<option value="Indigenous and Northern Affairs Canada">Indigenous
		and Northern Affairs Canada</option>
	<option value="Industrial Technologies Office">Industrial
		Technologies Office</option>
	<option value="Infrastructure Canada">Infrastructure Canada</option>
	<option value="Innovation, Science and Economic Development Canada">Innovation,
		Science and Economic Development Canada</option>
	<option value="Innovation Hub">Innovation Hub</option>
	<option value="Integrated Terrorism Assessment Centre">Integrated
		Terrorism Assessment Centre</option>
	<option value="Interagency Advisory Panel on Research Ethics">Interagency
		Advisory Panel on Research Ethics</option>
	<option value="Intergovernmental Affairs">Intergovernmental
		Affairs</option>
	<option value="Labour Program">Labour Program</option>
	<option value="Leader of the Government in the House of Commons">Leader
		of the Government in the House of Commons</option>
	<option value="Library and Archives Canada">Library and
		Archives Canada</option>
	<option value="Marine Security Operations Centres Project">Marine
		Security Operations Centres Project</option>
	<option value="Measurement Canada">Measurement Canada</option>
	<option value="Military Grievances External Review Committee">Military
		Grievances External Review Committee</option>
	<option value="Military Police Complaints Commission of Canada">Military
		Police Complaints Commission of Canada</option>
	<option value="National Defence">National Defence</option>
	<option value="National Energy Board">National Energy Board</option>
	<option value="National Film Board">National Film Board</option>
	<option value="National Research Council Canada">National
		Research Council Canada</option>
	<option value="National Seniors Council">National Seniors
		Council</option>
	<option value="Natural Resources Canada">Natural Resources
		Canada</option>
	<option value="Natural Sciences and Engineering Research Council">Natural
		Sciences and Engineering Research Council</option>
	<option value="Networks of Centres of Excellence of Canada">Networks
		of Centres of Excellence of Canada</option>
	<option value="Northern Pipeline Agency Canada">Northern
		Pipeline Agency Canada</option>
	<option value="Occupational Health and Safety Tribunal Canada">Occupational
		Health and Safety Tribunal Canada</option>
	<option value="Office of the Chief Military Judge">Office of
		the Chief Military Judge</option>
	<option
		value="Office of the Commissioner for Federal Judicial Affairs Canada">Office
		of the Commissioner for Federal Judicial Affairs Canada</option>
	<option
		value="Office of the Communications Security Establishment Commissioner">Office
		of the Communications Security Establishment Commissioner</option>
	<option
		value="Office of the Extractive Sector Corporate Social Responsibility Counsellor">Office
		of the Extractive Sector Corporate Social Responsibility Counsellor</option>
	<option value="Office of the Federal Ombudsman for Victims of Crime">Office
		of the Federal Ombudsman for Victims of Crime</option>
	<option
		value="Office of the Ombudsman for the Department of National Defence and the Canadian Forces">Office
		of the Ombudsman for the Department of National Defence and the
		Canadian Forces</option>
	<option value="Office of the Procurement Ombudsman">Office of
		the Procurement Ombudsman</option>
	<option value="Office of the Superintendent of Bankruptcy Canada">Office
		of the Superintendent of Bankruptcy Canada</option>
	<option
		value="Office of the Superintendent of Financial Institutions Canada">Office
		of the Superintendent of Financial Institutions Canada</option>
	<option value="Office of the Taxpayers' Ombudsman">Office of
		the Taxpayers' Ombudsman</option>
	<option value="Office of the Veterans' Ombudsman">Office of
		the Veterans' Ombudsman</option>
	<option value="Parks Canada">Parks Canada</option>
	<option value="Parole Board of Canada">Parole Board of Canada</option>
	<option value="Patented Medicine Prices Review Board Canada">Patented
		Medicine Prices Review Board Canada</option>
	<option value="Physical Resources Bureau">Physical Resources
		Bureau</option>
	<option value="Polar Knowledge Canada">Polar Knowledge Canada</option>
	<option value="PPP Canada">PPP Canada</option>
	<option value="Privy Council Office">Privy Council Office</option>
	<option value="Public Health Agency of Canada">Public Health
		Agency of Canada</option>
	<option value="Public Prosecution Service of Canada">Public
		Prosecution Service of Canada</option>
	<option value="Public Safety Canada">Public Safety Canada</option>
	<option value="Public Servants Disclosure Protection Tribunal Canada">Public
		Servants Disclosure Protection Tribunal Canada</option>
	<option value="Public Service Commission of Canada">Public
		Service Commission of Canada</option>
	<option value="Public Service Labour Relations and Employment Board">Public
		Service Labour Relations and Employment Board</option>
	<option value="Public Services and Procurement Canada">Public
		Services and Procurement Canada</option>
	<option value="RCMP External Review Committee">RCMP External
		Review Committee</option>
	<option value="Registry of the Specific Claims Tribunal of Canada">Registry
		of the Specific Claims Tribunal of Canada</option>
	<option value="Royal Canadian Air Force">Royal Canadian Air
		Force</option>
	<option value="Royal Canadian Mounted Police">Royal Canadian
		Mounted Police</option>
	<option value="Royal Canadian Navy">Royal Canadian Navy</option>
	<option value="Saguenay - Lac-Saint-Jean">Saguenay -
		Lac-Saint-Jean</option>
	<option value="Security Intelligence Review Committee">Security
		Intelligence Review Committee</option>
	<option value="Service Canada">Service Canada</option>
	<option value="Shared Services Canada">Shared Services Canada</option>
	<option
		value="Social Sciences and Humanities Research Council of Canada">Social
		Sciences and Humanities Research Council of Canada</option>
	<option value="Social Security Tribunal of Canada">Social
		Security Tribunal of Canada</option>
	<option value="Statistics Canada">Statistics Canada</option>
	<option value="Status of Women Canada">Status of Women Canada</option>
	<option value="The Canadian Shellfish Sanitation Program">The
		Canadian Shellfish Sanitation Program</option>
	<option value="The Correctional Investigator Canada">The
		Correctional Investigator Canada</option>
	<option value="The National Battlefields Commission">The
		National Battlefields Commission</option>
	<option value="The Ontario-Quebec Continental Gateway">The
		Ontario-Quebec Continental Gateway</option>
	<option value="Translation Bureau">Translation Bureau</option>
	<option value="Transportation Appeal Tribunal of Canada">Transportation
		Appeal Tribunal of Canada</option>
	<option value="Transportation Safety Board of Canada">Transportation
		Safety Board of Canada</option>
	<option value="Transport Canada">Transport Canada</option>
	<option value="Treasury Board of Canada Secretariat">Treasury
		Board of Canada Secretariat</option>
	<option value="Veterans Affairs Canada">Veterans Affairs
		Canada</option>
	<option value="Veterans Review and Appeal Board">Veterans
		Review and Appeal Board</option>
	<option value="Western Economic Diversification Canada">Western
		Economic Diversification Canada</option>
	<option value="Wild Species">Wild Species</option>
	<option value="Youth">Youth</option>
	<option value="ι Other">ι Other</option>
	</select>
				</div>
			</div>
			<div class="form-group">
				<label for="yourName" class="control-label">Your Name</label> <input
					type="text" id="yourName" name="yourName" class="form-control"
					required="required" maxlength="50" size="40">
			</div>
			<div class="form-group">
				<label for="password" class="control-label">Drupal Admin
					Password</label> <input type="password" id="password" name="password"
					class="form-control" required="required" maxlength="20" size="40">
			</div>
			<div class="form-group">
					<button type="submit" class="btn btn-primary">Submit</button>
			</div>
			<p>If you need any assistance with this submission, or are experiencing any problems with your request please contact the Digital Transformation Office at: <a href="mailto:dto.btn@tbs-sct.gc.ca">dto.btn@tbs-sct.gc.ca</a><p>
		</form>
	</div>
	<div id="def-preFooter">
		<!-- Write closure fall-back static file -->
		<!-- /ROOT/etc/designs/canada/cdts/gcweb/v4_0_31/cdts/static/preFooter-en.html -->
		<div class="pagedetails">
			<div class="row">
				<div class="col-sm-6 col-md-5 col-lg-4">
					<a href="https://www.canada.ca/en/report-problem.html"
						class="btn btn-default text-center">Report a problem on this
						page</a>
				</div>
			</div>
			<!-- Share button -->
			<!-- <div class="wb-share col-sm-4 col-md-3 col-sm-offset-2 col-md-offset-4 col-lg-offset-5" data-wb-share='{"lnkClass": "btn btn-default btn-block"}'></div> -->
			<!-- END Share button -->
			<dl id="wb-dtmd">
				<dt>Date modified:</dt>
				<dd>
					<time property="dateModified">2019-03-01</time>
				</dd>
			</dl>
		</div>

	</div>
	<!-- Write closure template --> <script>
		var defPreFooter = document.getElementById("def-preFooter");
		defPreFooter.outerHTML = wet.builder.preFooter({
			"cdnEnv" : "esdcprod",
			"dateModified" : "2019-07-31"
		});
	</script> </main>
	<div id="def-footer">
		<!-- Write closure fall-back static file -->
		<!-- /ROOT/etc/designs/canada/cdts/gcweb/v4_0_31/cdts/static/footer-en.html -->
		<footer id="wb-info">
			<div class="landscape">
				<nav class="container wb-navcurr">
					<h2 class="wb-inv">About government</h2>
					<ul class="list-unstyled colcount-sm-2 colcount-md-3">
						<li><a href="https://www.canada.ca/en/contact.html">Contact
								us</a></li>
						<li><a href="https://www.canada.ca/en/government/dept.html">Departments
								and agencies</a></li>
						<li><a
							href="https://www.canada.ca/en/government/publicservice.html">Public
								service and military</a></li>
						<li><a href="https://www.canada.ca/en/news.html">News</a></li>
						<li><a
							href="https://www.canada.ca/en/government/system/laws.html">Treaties,
								laws and regulations</a></li>
						<li><a
							href="https://www.canada.ca/en/transparency/reporting.html">Government-wide
								reporting</a></li>
						<li><a href="http://pm.gc.ca/eng">Prime Minister</a></li>
						<li><a href="https://www.canada.ca/en/government/system.html">How
								government works</a></li>
						<li><a href="http://open.canada.ca/en/">Open government</a></li>
					</ul>
				</nav>
			</div>
			<div class="brand">
				<div class="container">
					<div class="row">
						<nav class="col-md-10 ftr-urlt-lnk">
							<h2 class="wb-inv">About this site</h2>
							<ul>
								<li><a href="https://www.canada.ca/en/social.html">Social
										media</a></li>
								<li><a href="https://www.canada.ca/en/mobile.html">Mobile
										applications</a></li>
				The form could not be submitted because 1 error was found.

    Error 1: This field is required.

								<li><a href="https://www1.canada.ca/en/newsite.html">About
										Canada.ca</a></li>
								<li><a
									href="https://www.canada.ca/en/transparency/terms.html">Terms
										and conditions</a></li>
								<li><a
									href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li>
							</ul>
						</nav>
						<div class="col-xs-6 visible-sm visible-xs tofpg">
							<a href="#wb-cont">Top of Page <span
								class="glyphicon glyphicon-chevron-up"></span></a>
						</div>
						<div class="col-xs-6 col-md-2 text-right">
							<img
								src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_31/assets/wmms-blk.svg"
								alt="Symbol of the Government of Canada" />
							<meta property="areaServed" typeOf="Country" content="Canada" />
							<link property="logo"
								href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_31/assets/wmms-blk.svg" />
						</div>
					</div>
				</div>
			</div>
		</footer>

	</div>
	<!-- Write closure template -->
	<script>
		var defFooter = document.getElementById("def-footer");
		defFooter.outerHTML = wet.builder.footer({
			"cdnEnv" : "prod"
		});
	</script>
	<!-- Write closure template -->
	<script>
		document.write(wet.builder.refFooter({
			"cdnEnv" : "prod"
		}));
	</script>
	<script>
		// custom code for the form
		$("wb-ready.wb", function(e) {
			$("#domainNamePrefix").keyup(function (e) {
				$("#domainExample").html($("#domainNamePrefix").val()+"<strong>.tbs.alpha.canada.ca<strong>");
			});
		});
	</script>
	<section id="centred-popup" class="mfp-hide modal-dialog modal-content overlay-def">
		<header class="modal-header">
			<h2 class="modal-title">Approximate end date of experiment</h2>
		</header>
		<div class="modal-body">
			Your domain name will not expire at the end of your experiment. We will contact your before expiration.
		</div>
	</section>
</body>
</html>