<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}"
	xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="content">
	<h1 property="name" id="wb-cont" th:text="#{title}"></h1>
	<div class="wb-frmvld">
		<form id="requestForm" name="requestForm" method="post"
			th:action="${'requestPost?lang=' + lang}">
			<div class="form-group">
				<label for="domainNamePrefix" class="control-label required"
					th:text="#{domainNamePrefix}"></label> <input
					class="duplicate form-control" id="domainNamePrefix"
					name="domainNamePrefix" type="text" maxlength="30" size="40" />
			</div>
			<div class="form-group">
				<div>
					<strong th:text="#{yourDomain}"></strong>
				</div>
				<div id="domainExample"></div>
			</div>
			<div class="form-group">
				<label for="emailAddress" class="control-label required"
					th:text="#{emailAddress}"></label> <input type="email"
					id="emailAddress" name="emailAddress" class="form-control"
					required="required" maxlength="100" size="40">
			</div>
			<div class="form-group">
				<label for="endDate" class="control-label required"><span
					th:text="#{approxEndDate}"></span> <span class="datepicker-format">
						(<abbr title="#{approxEndDateTitle}">YYYY-MM-DD</abbr>)
				</span> <a href="#centred-popup" aria-controls="centred-popup"
					class="wb-lbx" role="button"><i class="fas fa-info-circle"></i></a>
				</label> <input class="form-control" type="date" id="endDate" name="endDate"
					required="required" />
			</div>
			<div class="form-group">
				<label for="experimentName" class="control-label required"
					th:text="#{experimentName}"></label> <input type="text"
					id="experimentName" name="experimentName" class="form-control"
					required="required" maxlength="50" size="40">
			</div>
			<div class="form-group">
				<label for="experimentDesc" class="control-label required"
					th:text="#{experimentDescription}"></label>
				<textarea id="experimentDesc" name="experimentDesc"
					class="form-control" rows="5" cols="39" required="required"
					maxlength="1000"></textarea>
			</div>
			<div class="form-group">
				<label for="department" class="control-label required"
					th:text="#{department}"></label>
				<div>
					<input id="department" name="department" type="text"
						list="departments" required="required" size="41" maxlength="100" />
					<div th:replace="fragments/department_datalist"></div>
				</div>
			</div>
			<div class="form-group">
				<label for="yourName" class="control-label required"
					th:text="#{yourName}"></label> <input type="text" id="yourName"
					name="yourName" class="form-control" required="required"
					maxlength="50" size="40">
			</div>
			<div class="form-group">
				<label for="password" class="control-label required"
					th:text="#{drupalAdminPassword}"></label> <input type="password"
					id="password" name="password" class="form-control"
					required="required" maxlength="20" size="40">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary"
					th:text="#{submitRequest}"></button>
			</div>
			<p>
				<span th:text="#{assistMsg}"></span><a
					href="mailto:dto.btn@tbs-sct.gc.ca">dto.btn@tbs-sct.gc.ca</a>
			<p>
		</form>
	</div>

	<section id="centred-popup"
		class="mfp-hide modal-dialog modal-content overlay-def">
		<header class="modal-header">
			<h2 class="modal-title" th:text="#{approxEndDate}"></h2>
		</header>
		<div class="modal-body" th:text="#{approxEndDateMsg}"></div>
	</section>
</th:block>
<th:block layout:fragment="script">
	<script th:inline="javascript">
		// custom code for the form
		$(document)
				.on(
						"wb-ready.wb",
						function(e) {
							$("#domainNamePrefix")
									.keyup(
											function(e) {
												$("#domainExample")
														.html(
																$(
																		"#domainNamePrefix")
																		.val()
																		+ "<strong>.tbs.alpha.canada.ca<strong>");
											});

							// add a method. calls one built-in method, too.
							jQuery.validator.addMethod("duplicate", function(
									value, element) {
								var response = false;
								jQuery.ajax({
									contentType : "text",
									async : false,
									type: "GET",
									url : 'checkDuplicate?lang='+document.documentElement.lang+"&domainNamePrefix="+$("#domainNamePrefix").val(),
									success : function(result) {
										if (result === "false") {
											response = false;
										} else {
											response = true;
										}
									},
									error : function(result) {
										response = false;
									}
								});

								return response;
							}, /*[[#{duplicateDomainNamePrefixErrorMsg}]]*/"");

							// connect it to a css class
							jQuery.validator.addClassRules({
								duplicate : {
									duplicate : true
								}
							});

						});
	</script>
</th:block>
</html>
