<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}"
	xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">
	<div th:if="${lang == 'en'}" id="kc-terms-text">
		<h1 class="text-center">Digital Transformation Office -
			Experimentation Platform</h1>
		<h2 class="text-center">Terms and Conditions of Use</h2>
		<h2>
			<i>Preamble</i>
		</h2>
		<ol>
			<li>These Terms and Conditions govern the relationship between
				the Digital Transformation Office (“we” or “us” or “our”) and any
				person registered in its own name or in the name and on behalf of
				another entity (“you” or “your”).<br /> <br />
			</li>
			<li class="text-success">Your access and use of the Digital
				Transformation Office Experimentation Platform and your use of the
				tools, services and Application Programming Interfaces (API)
				provided by us, as well as data created by the platform are governed
				by these Terms and Conditions. You represent that you have full
				authority to accept, and agree to be bound by, these Terms and
				Conditions, either in your own name or if you are accepting on
				behalf of another entity, you are binding said entity. If you are
				entering into these Terms and Conditions on your own behalf, you
				attest that you are of legal age in your province of residence.<br />
				<br />
			</li>
			<li>By accepting these Terms and Conditions, we grant you access
				to the Digital Transformation Office Experimentation Platform.<br />
				<br />
			</li>
		</ol>
		<h2>
			<i>Definitions</i>
		</h2>
		<p class="text-success">
			The following terms used within the Terms and Conditions have the
			following meaning assigned to them: <br /> <br />
		<ul>
			<li>"Experimentation Platform" means a set of web-based tools
				and services that allow the creation of web content. The platform
				will consist of a set of tools that facilitate the creation of web
				sites and content. When referred to in this document, it's meaning
				will encompass all APIs, Services, Content, and Data associated with
				the software solution.</li>
		</ul>
		<p>
		<h2>
			<i>Terms and Conditions</i>
		</h2>
		<ol start="4">
			<li>In order to gain access to and use the Experimentation
				Platform, you agree to provide all of the required information for
				the creation of an account in the Experimentation Platform:<br /> <br />
				<ul class="text-success">
					<li>Domain Name Prefix</li>
					<li>Email Address</li>
					<li>Approximate End Data of Experiment</li>
					<li>Experiment Name</li>
					<li>Experiment Description</li>
					<li>Department</li>
					<li>Your Name</li>
					<li>Drupal Admin Password</li>
				</ul> <br />
			</li>

			<li>You confirm that any information you provide to us is true,
				accurate, and complete to the best of your knowledge. <br /> <br />
			</li>
			<li>You understand and accept that you are at all times
				responsible for your login information. This responsibility applies
				even if you change your login information. You agree to keep your
				login credentials confidential at all times and not to share it with
				or disclose it to others.<br /> <br />
			</li>
			<li>If your login information (i.e. username, password) are
				revealed or if you suspect that someone else has learned or obtained
				them, you are responsible for taking all necessary measures to
				ensure compliance with the Terms and Conditions and resetting your
				password.<br /> <br />
			</li>
			<li>You agree not to use your own or another individuals login
				information for any improper activities related to the
				Experimentation Platform or the Services and Data, being any
				activities that are not specifically authorized under these Terms
				and Conditions. <br /> <br />
			</li>
			<li class="text-success">You agree not to use the
				Experimentation Platform in a manner that harasses or may harass
				other parties, or that will or will have the potential to disrupt,
				undermine, corrupt, diminish or otherwise threaten or jeopardize the
				Experimentation Platform. <br /> <br />
			</li>
			<li>You agree not to use the Digital Transformation Office
				Experimentation Platform <br /> <br />
				<ol type="a">
					<li>In a way that could or does negatively impact the
						performance of the system or network or the Experimentation
						Platform for us or other users</li>
					<li>Download or transit into the Experimentation Platform any
						viruses, Trojan horses or any other programs that are designed to
						interfere or damage the Experimentation Platform</li>
					<li>To do anything in violation of the Criminal Code of Canada</li>
				</ol> <br />
			</li>
			<li class="text-success">The Digital Transformation Office will
				monitor access to the Experimentation Platform to ensure that it is
				being used responsibly and in accordance with these Terms and
				Conditions. You understand and accept that we can suspend or revoke
				your access to the Experimentation Platform, and/or individual
				services and data without notice under the following circumstances:
				<br /> <br />
				<ul>
					<li>we suspect unauthorized use of your personal or login
						information;</li>
					<li>you fail to comply with any of the Terms and Conditions of
						use and/or agreements in place with the Experimentation Platform;</li>
					<li>as a security measure;</li>
					<li>for operational reasons; or</li>
					<li>for administrative reasons.</li>
				</ul> <br />
			</li>
			<li class="text-success">The Experimentation Platform team has
				taken all reasonable steps to ensure the security of platform and
				services. We have used sophisticated encryption technology and
				incorporated other procedures to protect your personal information
				at all times. However, the Internet is a public network and there is
				the remote possibility of data security violations. You agree that
				any content or data stored created by you is not of a personal,
				private, or sensitive nature<br /> <br />
			</li>
		</ol>
		<h2>
			<i>Access to the Experimentation Platform</i>
		</h2>
		<ol start="13">
			<li>We will reasonably try to ensure the Experimentation
				Platform is available 24/7. However, we also reserve the right,
				without notice or compensation, to temporarily or permanently
				suspend the Experimentation Platform and Data for maintenance
				operations or otherwise in our sole discretion. We cannot be held
				responsible for any suspension of service or permanent closure. <br />
				<br />
			</li>
			<li>The Digital Transformation Office is not responsible for the
				failure of:<br /> <br />
				<ol type="a">
					<li>the availability or unavailability, for any reason, of the
						Internet, login services or other infrastructure systems;<br /> <br />
					</li>
					<li>any restriction, delay, malfunction, or unavailability of
						the Experimentation Platform due to unforeseen circumstances</li>
				</ol>
			</li>
		</ol>
		<h2>
			<i>Application Process</i>
		</h2>
		<h2>
			<i>Policies and Requirements Regarding Use of the Experimentation
				Platform</i>
		</h2>
		<ol start="19">
			<li>We reserve the right to track and publish statistics on
				usage<br /> <br />
			</li>
			<li>We do not endorse or recommend for public use any specific
				experiment performed and any statements implying or claiming that we
				have made such an endorsement are strictly prohibited.<br /> <br />
			</li>
			<li>Any practice whereby information that is intended to be
				transmitted directly between you and the GC is manipulated, edited,
				redacted or otherwise processed by the Application, such that the
				content or meaning of the information or data is altered, must be
				disclosed to the user in a clear and conspicuous manner.<br /> <br />
			</li>
			<li class="text-success">You are prohibited from sharing,
				distributing, or disclosing (intentionally or unintentionally) any
				security related information to any other individual or entity, and
				any such sharing, distribution or disclosure constitutes a violation
				of these Terms and Conditions. <br /> <br />
			</li>
			<li>You agree to comply with, and use all means available to
				assist us in complying with all laws applicable to the
				Experimentation Platform.<br /> <br />
			</li>
			<li>Any activity that exceeds your authorized access privileges
				to the Experimentation Platform and the API Services and Data is
				strictly prohibited.</li>
		</ol>
		<h2>
			<i>Consequences of Violating the Terms and Conditions</i>
		</h2>
		<ol start="25">
			<li class="text-success">You have a continuing obligation to
				comply with the Terms and Conditions. If you violate any of the
				Terms and Conditions, we may, in our sole and absolute discretion,
				in addition to any available remedies we have at law to immediately
				terminate your access to and privileges to use the Experimentation
				Platform.</li>
		</ol>
		<h2>
			<i>Exclusion of Warranties</i>
		</h2>
		<ol start="27">
			<li class="text-success">We do not guarantee the accuracy,
				completeness or availability of the Experimentation Platform. You
				understand and agree that you are accessing and using the
				Experimentation Platform at your sole risk and discretion. The
				Experimentation Platform is made available on an “as is” and “as
				available” basis without any representations or warranties of any
				kind, whether expressed or implied, including without limitation
				implied warranties or warranties regarding fitness of use or
				purpose. You agree that we shall not be held liable for any error,
				inaccuracy, or unavailability, or other defect in the
				Experimentation Platform. Any errors, inaccuracies or unavailability
				can be reported to Digital Transformation Office</li>
		</ol>
		<h2>
			<i>Limitation of Liability and Indemnity</i>
		</h2>
		<ol start="28">
			<li>You agree that in no event shall we, nor our employees or
				agents, be liable for any direct, indirect, incidental,
				consequential or special damages (including without limitation, loss
				of use, time or data, inconvenience, commercial loss, lost profits
				or savings, cost of computer equipment and software, or solicitor
				fees) that you incur in relation to your accessing or use of the
				Experimentation Platform, or for any of your obligations, to the
				full extent that such may be disclaimed by law, or for any claim
				against You by any third party. In no event shall we be liable for
				any claim, including claims by third parties, for loss or damages
				arising from your use of the Experimentation Platform.<br /> <br />
			</li>
			<li>You shall indemnify and save us and our employees and agents
				from and against any and all claims, losses, damages, costs,
				expenditures, actions, injuries or liabilities of any kind, nature
				and description (including, without limitation, incidental and
				consequential and special damages, court costs, legal fees and costs
				of investigation), that arise directly or indirectly, in whole or in
				part, from your use of the Experimentation Platform and/or the API
				Services and Data.</li>
		</ol>
		<h2>
			<i>General Provisions</i>
		</h2>
		<ol start="30">
			<li>We retain the right to modify these Terms and Conditions at
				any time in our sole and absolute discretion, by posting modified
				Terms and Conditions on this page in the Experimentation Platform.
				Any such modification is effective upon posting, unless otherwise
				indicated. We will attempt to provide notice of any such changes to
				you upon login and/or notice may be provided to current account
				holders at the current email address provided in the Experimentation
				Platform account and/or subscription request by you. For this
				reason, you are required to provide current contact information to
				the Experimentation Platform and to update said information in your
				profile should it change. You agree that by continuing to access and
				use the Experimentation Platform and/or the API Services and Data
				that you are bound by any modified terms and conditions that are
				posted from time to time.<br /> <br />
			</li>
			<li>These Terms and Conditions shall be governed by and
				interpreted under the laws of the Province of Ontario and the laws
				of Canada applicable therein. Without regard to conflict of laws
				provisions. Any dispute arising out of these Terms and Conditions
				shall be subject to the exclusive jurisdiction of the courts of
				Ontario, and you hereby attorn to the venue and jurisdiction of such
				courts.<br /> <br />
			</li>
			<li>No modifications of these Terms and Conditions, other than
				as described in paragraph 30 above nor any waiver of any rights,
				shall be effective except by an instrument in writing signed by You
				and us, and the waiver of any breach or default shall not constitute
				a waiver of any other right hereunder for any subsequent breach or
				default.<br /> <br />
			</li>
			<li>These Terms and Conditions contain the entire agreement and
				understanding between you and us with respect to the subject matter
				hereof and completely replace and supersede all prior agreements,
				understanding and representations.<br /> <br />
			</li>
			<li>If any provision of these Terms and Conditions is determined
				to be invalid or unenforceable, in whole or in part, by a court of
				competent jurisdiction, such invalidity or unenforceability shall
				not affect the remaining terms or provisions hereof, and the
				remaining provisions will nevertheless remain in full force and
				effect.<br /> <br />
			</li>
			<li>You agree that, if we do not exercise or enforce any legal
				right or remedy contained in these Terms and Conditions (or that we
				have the benefit of under any applicable law), this will not be
				taken to be a formal waiver of our rights and that those rights or
				remedies will still be available to us. Any waiver of any provision
				of these Terms and Conditions will be effective only if we expressly
				waive compliance with a provision in writing.</li>
		</ol>
		<h2>
			<i>Providing content in Canada’s official languages</i>
		</h2>
		<ol start="36">
			<li class="text-success">The <a
				href="http://laws-lois.justice.gc.ca/eng/acts/O-3.01/">Official
					Languages Act</a> , the <a
				href="http://laws.justice.gc.ca/eng/regulations/SOR-92-48/index.html">Official
					Languages (Communications with and Services to the Public)
					Regulations</a> and Treasury Board policy requirements establish when
				we use both English and French to provide services to or communicate
				with members of the public. When there is no obligation to provide
				information in both official languages, content may be available in
				one official language only. Information provided by organizations
				not subject to the <a
				href="http://laws-lois.justice.gc.ca/eng/acts/O-3.01/">Official
					Languages Act</a> is in the language(s) provided. Information provided
				in a language other than English or French is only for the
				convenience of our visitors. You acknowledge that you will provide a
				best effort to experiment in both Official Languages.
			</li>
		</ol>
		<h2>
			<i>Trademark notice</i>
		</h2>
		<ol start="37">
			<li class="text-success">The official symbols of the Government
				of Canada, including the Canada wordmark, the Arms of Canada, and
				the flag symbol may not be reproduced, whether for commercial or
				non-commercial purposes, without prior <a
				href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/federal-identity-program/technical-specifications/official-symbols/legal-protection-canada.html">written
					authorization</a> . Use of these symbols is permitted within the
				Experimentation Platform with the understanding that the content is
				clearly marked as "Alpha" and is not an official Government of
				Canada website.
			</li>
		</ol>
		<h2>
			<i>Our commitment to accessibility</i>
		</h2>
		<ol start="38">
			<li class="text-success">The Digital Transformation Office is
				committed to achieving a high standard of accessibility as defined
				in the <a href="http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=23601">Standard
					on Web Accessibility</a> and the <a
				href="http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=27088">Standard
					on Optimizing Websites and Applications for Mobile Devices</a> . In the
				event of difficulty using our web pages, applications or
				device-based mobile applications, contact us for assistance or to
				obtain alternative formats such as regular print, Braille or another
				appropriate format. You agree to provide a best effort to create
				accessible content while experimenting.
			</li>
		</ol>
		<h2>
			<i>Privacy Statement</i>
		</h2>
		<ol start="39">
			<li>The Government of Canada is committed to providing websites
				that respect the privacy of visitors. This privacy notice summarizes
				the privacy practices for the Experimentation Platform.<br /> <br />
			</li>
			<li>All personal information collected by this institution is
				governed by the <a
				href="http://laws-lois.justice.gc.ca/eng/acts/P-21/index.html">Privacy
					Act</a> and the Access to Information Act. This means that you will be
				informed of the purpose for which your personal information is being
				collected and how to exercise your right of access to that
				information. You agree to not capturing any personal, private, or
				sensitive data within the Experimentation Platform.
			</li>
		</ol>
		<h3>
			<i>Your Privacy and the Internet</i>
		</h3>
		<ol start="41">
			<li>The nature of the Internet is such that Web servers
				automatically collect certain information about a visit to a
				website, including the visitor’s Internet Protocol (IP) address. IP
				addresses are unique numbers assigned by Internet Service Providers
				(ISP) to all devices used to access the Internet. Web servers
				automatically log the IP addresses of visitors to their sites. The
				IP address, on its own, does not identify an individual. However, in
				certain circumstances, such as with the co-operation of an ISP for
				example, it could be used to identify an individual using the site.
				For this reason, the Digital Transformation Office considers the IP
				address to be personal information, particularly when combined with
				other data automatically collected when visitor requests a Web page
				such as the page or pages visited, date and time of the visit.</li>
		</ol>
		<h3>
			<i>Digital Markers (including cookies)</i>
		</h3>
		<ol start="42">
			<li>A digital marker is a resource created by your browser in
				order to remember certain pieces of information for the Web server
				to reference during the same or subsequent visit to the website.
				Examples of digital markers are “cookies” or HTML5 web storage. Some
				examples of what digital markers do are as follows:<br /> <br />
				<ol type="a">
					<li>they allow a website to recognize a previous visit each
						time the visitor accesses the site;<br /> <br />
					</li>
					<li>they track what information is viewed on a site which
						helps website administrators ensure visitors find what they are
						looking for.</li>
				</ol> <br />
			</li>
			<li>The Experimentation Platform uses digital markers on some
				portions of its website including to determine whether or not you
				are logged in to the site. During your on-line visit, your browser
				exchanges data with the Experimentation Platform web server. The
				digital markers used do not allow the Experimentation Platform to
				identify individuals.<br /> <br />
			</li>
			<li>You may adjust your browser settings to reject digital
				markers, including cookies, if you so choose. However, it may affect
				your ability to interact with the Experimentation Platform.<br /> <br />
			</li>
			<li>The use of web analytics, such as cookies, for measuring and
				improving performance of Digital Transformation Office websites
				complies with the Standard on Privacy and Web Analytics.</li>
		</ol>
		<h3>
			<i>Communicating with the Digital Transformation Office</i>
		</h3>
		<ol start="46">
			<li>If you choose to send us an email or complete a feedback
				form online, your personal information provided, being your first
				and last name, phone number (if provided), address and email address
				(if provided), is used by us in order to respond to your inquiry. We
				do not use the information to create individual profiles nor does it
				disclose the information to anyone other than to those in the
				federal government who need to provide you with a response. Any
				disclosure of your personal information is in accordance with the
				Privacy Act.<br /> <br />
			</li>
			<li>Emails and other electronic methods used to communicate with
				us are not secure unless it is specifically stated on a Web page.
				Therefore, it is recommended that you do not send sensitive personal
				information, such as your Social Insurance Number or your date of
				birth, through non-secure electronic means.<br /> <br />
			</li>
			<li>Personal information from emails or completed feedback forms
				is collected pursuant to the Department of Industry Act, Sections
				4(1), 5(b)(d)(e), and 6(a)(b)(c)(d).<br /> <br />
			</li>
			<li>Should you refuse to provide personal information in
				completing a feedback form or another method of communication with
				us, we may not be able to respond to you in a timely manner or at
				all.</li>
		</ol>
		<h3>
			<i>Experimentation Platform Credentials</i>
		</h3>
		<ol start="50">
			<li>We are committed to providing measures that respect and
				value your privacy and security. This section summarizes the privacy
				policy and practices that apply to your Experimentation Platform
				Account Credentials.<br /> <br />
			</li>
			<li>We collect the following personal information from you when
				you open an account on the Experimentation Platform: name, email,
				organization. The purpose for collecting and using “Username,
				Password and Email” is to issue, manage and validate anonymous
				credentials of individuals accessing and/or communicating with our
				systems and applications, in order to provide a service. This
				personal information is collected pursuant to the Department of
				Industry Act Sections 4(1), 5(b)(d)(e), and 6(a)(b)(c)(d). Such
				information is used to for the set-up of a user profile for the
				purpose of communicating with or obtaining products or services from
				government (refer to Public Communications - IB No. PSU 914).<br />
				<br />
			</li>
			<li>The personal information may be used to establish audit
				trails of credential usage. In the case of suspected security or
				privacy breaches, personal information may be shared with
				departmental security and access to information and privacy
				officials, as well as the federal government department or agency
				which collects and uses the personal information considered to have
				been compromised (refer to Standard PIB Security Incidents - PSU
				939). For suspected criminal activity, personal information may also
				be disclosed to the Royal Canadian Mounted Police for
				investigational purposes; refer to institution-specific PIB
				Operational Case Records - RCMP PPU 005.<br /> <br />
			</li>
			<li>We employ software programs to monitor network traffic to
				identify unauthorized attempts to upload or change information, or
				otherwise cause damage. This software receives and records the
				Internet Protocol (IP) address of the computer that has contacted
				our websites, the date and time of the visit and the pages visited.
				We make no attempt to link these addresses with the identity of
				individuals visiting our sites unless an attempt to damage the sites
				has been detected.<br /> <br />
			</li>
			<li>Should you refuse to provide the necessary personal
				information to open an account on the Experimentation Platform, you
				will not be able to open an account or to use the Services and Data.
				You may also have limited access to information provided on the GC
				API Store.<br /> <br />
			</li>
			<li class="text-success">You have the right to access and
				request the correction of your personal information. Questions,
				concerns and complaints regarding this notice, or the administration
				of the Privacy Act in connection with your Experimentation Platform
				account may be directed to the Access to Information and Privacy
				Protection Coordinator.</li>
			<li>For more information on privacy issues and the Privacy Act
				in general, please consult the Office of the <a
				href="http://www.priv.gc.ca/index_e.asp">Privacy Commissioner of
					Canada</a> website or call <a href="tel:1-800-282-1376">1-800-282-1376</a>
				.<br /> <br />
			</li>
			<li>By selecting “I agree” you indicate that you accept these
				Terms and Conditions of use.</li>
		</ol>
	</div>
	<div th:if="${lang == 'fr'}" id="kc-terms-text">
		<h1>
			Boutique d’IPA du gouvernement du Canada (GC)<br />Conditions
			d’utilisation
		</h1>
		<h2>
			<i>Préambule</i>
		</h2>
		<ol>
			<li>Les présentes conditions générales régissent les relations
				entre le gouvernement du Canada (« nous » ou « notre » ou « nos »)
				et toute personne inscrite en son propre nom ou au nom et pour le
				compte d’une autre entité (« vous » ou « votre » ou « vos »).<br />
				<br />
			</li>
			<li>Votre accès à la boutique d’IPA du gouvernement du Canada («
				boutique d’IPA du GC ») et l’utilisation que vous en faites, ainsi
				que votre utilisation des services Web d’IPA, en tant qu’interfaces
				de programmation d’applications pour transférer ou échanger des
				données (les « services et données ») fournies par nous, ainsi que
				les données transmises sur ces services Web, sont assujettis aux
				présentes conditions générales. Vous déclarez que vous avez pleine
				autorité pour accepter les présentes conditions générales, et
				consentez à être lié par elles, soit en votre propre nom ou si vous
				acceptez au nom d’une autre entité, vous engagez ladite entité. Si
				vous acceptez les présentes conditions générales en votre propre
				nom, vous attestez que vous avez l’âge légal dans votre province de
				résidence. <br /> <br />
			</li>
			<li>En acceptant les présentes conditions générales, nous vous
				donnons accès à la boutique d’IPA du GC et aux IPA ouvertes
				(accessibles au public) disponibles dans la boutique d’IPA du GC, ou
				à d’autres IPA pour lesquelles vous avez été invité par les
				propriétaires de ces IPA à conclure des partenariats ou des accords
				existants. Il se peut que d’autres IPA de la boutique d’IPA du GC
				auxquelles vous n’avez pas accès ou auxquelles vous n’avez pas
				l’autorisation d’accéder soient disponibles pour d’autres
				utilisateurs aux termes de conditions générales distinctes. Les
				conditions générales de toute autre classification d’IPA remplacent
				vos droits aux termes des présentes conditions générales et sont
				contrôlées par le propriétaire de l’IPA. Pour plus de renseignements
				sur les conditions générales propres à une IPA, veuillez communiquer
				avec le propriétaire de l’IPA indiqué.<br /> <br />
			</li>
		</ol>
		<h2>
			<i>Définitions</i>
		</h2>
		Les termes suivants utilisés dans les présentes conditions générales
		ont le sens suivant: <br /> <br /> « IPA » désigne une interface de
		programmation d’application, plus précisément une IPA de service Web,
		qui se trouve dans la boutique d’IPA du GC. <br /> <br /> «
		Propriétaire d’une IPA » désigne le développeur de l’IPA qui a rendu
		son IPA disponible dans la boutique d’IPA du GC. Dans le cadre de la
		boutique d’IPA du GC, tous les propriétaires d’IPA sont des ministères
		ou des directions générales du gouvernement du Canada. <br /> <br />
		« Plan d’IPA » désigne un ensemble de politiques ou de règles qui
		déterminent si des approbations sont nécessaires pour s’abonner à
		l’IPA et la fréquence des appels à l’IPA qu’une application peut
		effectuer. <br /> <br /> « Application » désigne un programme ou un
		logiciel conçu et écrit pour répondre à un objectif particulier de
		l’utilisateur qui utilisera les données générées par l’IPA. <br /> <br />
		<h2>
			<i>Conditions générales</i>
		</h2>
		<ol start="4">
			<li>Afin d’accéder à la boutique d’IPA du GC et de l’utiliser,
				vous acceptez de fournir tous les renseignements requis pour la
				création d’un compte dans la boutique d’IPA du GC:<br /> <br />
				<ol type="a">
					<li>Prénom et nom de famille<br /> <br />
					</li>
					<li>Nom de l’organisation (s’il y a lieu)<br /> <br />
					</li>
					<li>Nom d’utilisateur<br /> <br />
					</li>
					<li>Courriel<br /> <br />
					</li>
					<li>Mot de passe</li>
				</ol> <br />
			</li>
			<li>Afin de demander un abonnement à une IPA, vous acceptez de
				fournir tous les renseignements requis concernant l’application qui
				se servira de l’IPA:<br /> <br />
				<ol type="a">
					<li>Nom de l’application<br /> <br />
					</li>
					<li>Description de l’application et de son utilisation</li>
				</ol> <br />En faisant une demande d’abonnement à une IPA, vous attestez
				que vous êtes le propriétaire de l’application, ou que vous avez
				accès à cette application et que vous êtes autorisé à l’utiliser
				dans le but de vous servir des IPA.<br /> <br />
			</li>
			<li>Vous confirmez que tous les renseignements que vous nous
				fournissez sont véridiques, exacts et complets selon ce que vous
				croyez savoir.<br /> <br />
			</li>
			<li>Vous comprenez et acceptez que vous êtes à tout moment
				responsable de vos renseignements de connexion. Cette responsabilité
				s’applique même si vous modifiez vos renseignements de connexion.
				Vous acceptez de garder vos renseignements d’identification
				confidentiels à tout moment et de ne pas les communiquer à d’autres
				personnes.<br /> <br />
			</li>
			<li>Si vos renseignements de connexion (nom d’utilisateur, mot
				de passe) sont découverts ou si vous soupçonnez que quelqu’un
				d’autre en a pris connaissance ou les a obtenus, il vous incombe de
				prendre toutes les mesures nécessaires pour assurer le respect des
				conditions générales et réinitialiser votre mot de passe.<br /> <br />
			</li>
			<li>Vous vous engagez à ne pas utiliser vos propres
				renseignements de connexion ou ceux d’une autre personne pour des
				activités inappropriées liées à la boutique d’IPA du GC ou aux
				services et données, soit des activités qui ne sont pas expressément
				autorisées aux termes des présentes conditions générales.<br /> <br />
			</li>
			<li>Vous acceptez de ne pas utiliser les services et données
				d’une manière qui harcèle ou peut harceler d’autres parties, ou qui
				perturbe, sape, corrompt, diminue ou autrement menace ou compromet,
				à coup sûr ou potentiellement, la boutique d’IPA du GC.<br /> <br />
			</li>
			<li>Vous acceptez de ne pas utiliser les services et données ou
				la boutique d’IPA du GC<br /> <br />
				<ol type="a">
					<li>d’une manière qui pourrait avoir ou a une incidence
						négative sur la performance du système, du réseau ou de la
						boutique d’IPA du GC pour nous ou d’autres utilisateurs;<br /> <br />
					</li>
					<li>pour télécharger ou faire transiter par la boutique d’IPA
						du GC tout virus, cheval de Troie ou autre programme conçu pour
						interférer ou endommager la boutique d’IPA du GC;<br /> <br />
					</li>
					<li>pour faire quoi que ce soit en violation du Code criminel
						du Canada.</li>
				</ol> <br />
			</li>
			<li>L’équipe de la boutique d’IPA du GC surveillera l’accès à la
				boutique d’IPA du GC pour s’assurer que le service est utilisé de
				façon responsable et conformément aux présentes conditions
				générales. Vous comprenez et acceptez que nous et les propriétaires
				d’IPA individuels pouvons suspendre ou révoquer votre accès à la
				boutique d’IPA du GC ou à des IPA individuelles sans préavis, dans
				les circonstances suivantes:<br /> <br />
				<ol type="a">
					<li>nous soupçonnons une utilisation non autorisée de vos
						renseignements personnels ou de connexion;<br /> <br />
					</li>
					<li>vous ne respectez pas l’une ou l’autre des conditions
						d’utilisation ou des ententes en vigueur avec la boutique d’IPA du
						GC, ou les conditions générales d’une IPA;<br /> <br />
					</li>
					<li>par mesure de sécurité;<br /> <br />
					</li>
					<li>pour des raisons opérationnelles;<br /> <br />
					</li>
					<li>pour des raisons administratives.</li>
				</ol> <br />
			</li>
			<li>L’équipe de la boutique d’IPA du GC a pris toutes les
				mesures raisonnables pour assurer la sécurité de ce site Web. Nous
				avons utilisé une technologie de cryptage sophistiquée et ajouté
				d’autres procédures pour protéger vos renseignements personnels en
				tout temps. Cependant, Internet est un réseau public et il existe
				une infime possibilité de manquements à la sécurité des données.</li>
		</ol>
		<h2>
			<i>Accès à la boutique et à la plateforme</i>
		</h2>
		<ol start="14">
			<li>Nous essaierons raisonnablement de nous assurer que la
				boutique d’IPA du GC est disponible 24 heures sur 24, 7 jours sur 7.
				Toutefois, nous nous réservons également le droit, sans préavis ni
				compensation, de suspendre temporairement ou définitivement le
				service ou de fermer la boutique et les services et données d’IPA
				pour des opérations de maintenance ou autres à notre discrétion
				exclusive. Nous ne pouvons être tenus responsables de toute
				suspension de service ou fermeture définitive.<br /> <br />
			</li>
			<li>Le gouvernement du Canada n’est pas responsable de :<br />
				<br />
				<ol type="a">
					<li>la disponibilité ou l’indisponibilité, pour quelque raison
						que ce soit, d’Internet, des services de connexion ou d’autres
						systèmes d’infrastructure;<br /> <br />
					</li>
					<li>toute restriction, tout retard, tout mauvais
						fonctionnement ou toute indisponibilité de la boutique d’IPA du GC
						en raison d’imprévus.</li>
				</ol>
			</li>
		</ol>
		<h2>
			<i>Processus de demande</i>
		</h2>
		<ol start="16">
			<li>Afin de sécuriser les systèmes de soutien, les applications
				qui soumettent des demandes de service doivent utiliser une clé
				d’IPA. Vous pouvez demander une clé d’IPA en complétant le processus
				d’abonnement requis dans la boutique d’IPA du GC.<br /> <br />
			</li>
			<li>Les propriétaires d’IPA du gouvernement du Canada
				examineront les demandes de clés d’IPA pour s’assurer que vous avez
				accepté les conditions générales de leur IPA, au besoin, avant
				d’émettre une clé d’IPA. Les propriétaires d’IPA du GC, à leur seule
				et entière discrétion, peuvent vous donner une clé d’IPA pour
				accéder à leur IPA.<br /> <br />
			</li>
			<li>Les privilèges d’accès aux services et données d’IPA sont
				accordés à notre discrétion exclusive et peuvent être restreints ou
				résiliés à tout moment.</li>
		</ol>
		<h2>
			<i>Politiques et exigences concernant l’utilisation des services
				d’IPA</i>
		</h2>
		<ol start="19">
			<li>L’utilisation des IPA peut être limitée par nous ou par le
				propriétaire de l’IPA, et peut être surveillée. Si vous envisagez
				d’utiliser une IPA au-delà des limites du plan IPA auquel vous êtes
				abonné, vous devez en informer le propriétaire de l’IPA avant
				d’utiliser cette dernière, et obtenir son consentement pour cette
				utilisation.<br /> <br />
			</li>
			<li>Nous nous réservons le droit de suivre et de publier des
				statistiques sur l’utilisation par IPA et l’application qui demande
				l’accès. <br /> <br />
			</li>
			<li>Nous ne nous prononçons pas en faveur de l’utilisation
				d’aucune application particulière développée pour l’utilisation de
				ses IPA et ne faisons aucune recommandation en ce sens au public, et
				toute déclaration sous-entendant ou affirmant que nous avons apporté
				un tel appui est strictement interdite.<br /> <br />
			</li>
			<li>Toute pratique selon laquelle des renseignements qui sont
				destinés à être transmis directement entre vous et le GC sont
				manipulés, modifiés, expurgés ou autrement traités par
				l’application, de sorte que le contenu ou la signification des
				renseignements ou des données est modifié, doit être communiquée à
				l’utilisateur d’une manière claire et évidente.<br /> <br />
			</li>
			<li>Il vous est interdit de transmettre, distribuer ou
				communiquer (intentionnellement ou non) toute clé d’IPA à toute
				autre personne ou entité, et une transmission, distribution ou
				communication de ce genre constitue une violation des présentes
				conditions générales. <br /> <br />
			</li>
			<li>Vous acceptez de vous conformer à toutes les lois
				applicables aux services et données d’IPA et d’utiliser tous les
				moyens disponibles pour nous aider à nous y conformer.<br /> <br />
			</li>
			<li>Toute activité qui outrepasse vos privilèges d’accès
				autorisés à la boutique d’IPA du GC et aux services et données d’IPA
				est strictement interdite.</li>
		</ol>
		<h2>
			<i>Conséquences d’une violation des conditions générales</i>
		</h2>
		<ol start="26">
			<li>Vous avez l’obligation continue de vous conformer aux
				conditions générales. Si vous contrevenez à l’une ou l’autre des
				conditions générales, nous pouvons, à notre seule et entière
				discrétion, en plus de tous les recours légaux disponibles,
				invalider immédiatement vos clés d’IPA, mettre fin à votre accès aux
				services et données d’IPA et à la boutique d’IPA du GC et retirer
				vos privilèges d’utilisation.</li>
		</ol>
		<h2>
			<i>Exclusion des garanties</i>
		</h2>
		<ol start="27">
			<li>Nous ne garantissons pas l’exactitude, l’exhaustivité ou la
				disponibilité des services et données d’IPA. Vous comprenez et
				acceptez que vous accédez à la boutique d’IPA du GC et aux services
				et données d’IPA, et que vous les utilisez, à vos propres risques et
				à votre discrétion. La boutique d’IPA du GC et les services et
				données d’IPA sont mis à disposition « tels quels » et « tels que
				disponibles » sans aucune promesse ou garantie d’aucune sorte,
				expresse ou implicite, notamment les garanties implicites ou les
				garanties concernant l’utilité ou l’objet. Vous convenez que nous ne
				serons pas tenus responsables de toute erreur, imprécision ou
				indisponibilité, ou de tout autre défaut des services et données
				d’IPA. Les erreurs, imprécisions ou indisponibilités, ou autres
				défauts des services et données d’IPA peuvent être signalés au
				propriétaire de l’IPA par l’intermédiaire la boutique d’IPA du GC.</li>
		</ol>
		<h2>
			<i>Limite de responsabilité et indemnité</i>
		</h2>
		<ol start="28">
			<li>Vous convenez qu’en aucun cas, ni nous, ni nos employés ou
				mandataires, ne serons responsables des dommages directs, indirects,
				accessoires, consécutifs ou particuliers (notamment la perte
				d’utilisation, de temps ou de données, les inconvénients, les pertes
				commerciales, la perte de profits ou d’économies, le coût du
				matériel informatique et des logiciels, les honoraires des avocats)
				que vous subissez relativement à votre accès à la boutique d’IPA du
				GC ou aux services et données d’IPA, ou à leur utilisation, ni des
				obligations qui pourraient en découler, dans toute la mesure permise
				par la loi, ni des réclamations de tiers à votre encontre. En aucun
				cas, nous ne pourrons être tenus responsables de toute réclamation,
				y compris les réclamations de tiers, pour les pertes ou dommages
				découlant de votre utilisation de la boutique d’IPA du GC ou des
				services et données d’IPA.<br /> <br />
			</li>
			<li>Vous devez nous indemniser et nous dégager de toute
				responsabilité, ainsi que nos employés et mandataires, à l’égard de
				toute réclamation, perte, dommage, coût, dépense, action, blessure
				ou responsabilité de quelque nature que ce soit (notamment les
				dommages accessoires, consécutifs et particuliers, les frais
				judiciaires, les frais juridiques et les frais d’enquête) qui
				découlent directement ou indirectement, en totalité ou en partie, de
				votre utilisation de la boutique d’IPA du GC ou des services et
				données d’IPA.</li>
		</ol>
		<h2>
			<i>Dispositions générales</i>
		</h2>
		<ol start="30">
			<li>Nous nous réservons le droit de modifier les présentes
				conditions générales en tout temps, à notre discrétion exclusive, en
				affichant les conditions générales modifiées sur cette page dans la
				boutique d’IPA du GC. Toute modification de ce type prend effet dès
				sa publication, sauf indication contraire. Nous nous efforcerons de
				vous informer de ces modifications lors de l’ouverture de votre
				session, ou un avis peut être envoyé aux titulaires de compte
				actuels à l’adresse électronique fournie dans le compte de la
				boutique d’IPA du GC ou lors de votre demande d’abonnement. Pour
				cette raison, vous êtes tenu de fournir vos coordonnées actuelles à
				la boutique d’IPA du GC et de mettre à jour ces renseignements dans
				votre profil en cas de changement. Vous convenez qu’en continuant
				d’accéder à la boutique d’IPA du GC ou aux services et données d’IPA
				et de les utiliser, vous êtes lié par les conditions générales
				modifiées qui sont affichées de temps à autre.<br /> <br />
			</li>
			<li>Les présentes conditions générales sont régies par les lois
				de la province de l’Ontario et les lois du Canada qui s’y
				appliquent, et doivent être interprétées conformément à ces lois,
				sans égard aux dispositions relatives aux conflits de lois. Tout
				différend découlant des présentes conditions générales sera
				assujetti à la compétence exclusive des tribunaux de l’Ontario, et
				vous reconnaissez par les présentes le lieu et la compétence de ces
				tribunaux.<br /> <br />
			</li>
			<li>Aucune modification des conditions générales, autre que
				celles décrites au paragraphe 30 ci dessus, ni aucune renonciation à
				quelque droit que ce soit, ne prendra effet, sauf par un acte écrit
				signé par vous et par nous, et la renonciation à toute violation ou
				défaut ne constitue pas une renonciation à tout autre droit aux
				termes des présentes pour toute violation ou tout défaut ultérieur.<br />
				<br />
			</li>
			<li>Les présentes conditions générales contiennent l’intégralité
				de l’accord et de l’entente conclue entre vous et nous en ce qui
				concerne l’objet des présentes et remplacent complètement tous les
				accords, ententes et déclarations antérieurs.<br /> <br />
			</li>
			<li>Si l’une des dispositions des présentes conditions générales
				est jugée non valable ou inapplicable, en tout ou en partie, par un
				tribunal compétent, cette invalidité ou inapplicabilité n’affectera
				pas les autres dispositions des présentes, et les autres
				dispositions resteront néanmoins pleinement en vigueur et
				applicables.<br /> <br />
			</li>
			<li>Vous convenez que, si nous n’exerçons pas ou n’appliquons
				pas les droits ou recours légaux contenus dans les présentes
				conditions générales (ou dont nous bénéficions aux termes de toute
				loi applicable), cela ne sera pas considéré comme une renonciation
				formelle à nos droits et que ces droits ou recours pourront être
				exercés. Toute renonciation à l’une ou l’autre des dispositions des
				présentes conditions générales n’entrera en vigueur que si nous
				renonçons expressément au respect d’une disposition par écrit.</li>
		</ol>
		<h2>
			<i>Offrir un contenu dans les deux langues officielles</i>
		</h2>
		<ol start="36">
			<li>La <a
				href="https://laws-lois.justice.gc.ca/fra/lois/O-3.01/">Loi sur
					les langues officielles</a> , le <a
				href="https://laws.justice.gc.ca/fra/reglements/DORS-92-48/index.html">Règlement
					sur les langues officielles (communications avec le public et
					prestation des services)</a> et les instruments de politiques du
				Conseil du Trésor déterminent dans quels contextes nous devons
				employer le français et l’anglais pour fournir des services aux
				membres du public ou pour communiquer avec eux. S’il n’y a pas
				d’obligation d’offrir le contenu dans les deux langues officielles,
				celui-ci pourrait être offert uniquement dans l’une des langues
				officielles. L’information offerte par des organisations non
				assujetties à la <a
				href="https://laws-lois.justice.gc.ca/fra/lois/O-3.01/">Loi sur
					les langues officielles</a> n’est diffusée que dans la langue dans
				laquelle elle est fournie. Toute information présentée dans une
				langue autre que l’anglais ou le français n’est offerte aux
				visiteurs de notre site Web que pour des raisons pratiques.
			</li>
		</ol>
		<h2>
			<i>Avis concernant l’image de marque</i>
		</h2>
		<ol start="37">
			<li>La reproduction des symboles officiels du gouvernement du
				Canada, y compris le mot-symbole « Canada », les armoiries du Canada
				et le symbole du drapeau, à des fins commerciales ou non
				commerciales, est interdite sans <a
				href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/programme-federal-image-marque/specifications-techniques/symboles-officiels/protection-juridique-canada.html">autorisation
					écrite</a> au préalable.
			</li>
		</ol>
		<h2>
			<i>Notre engagement à l’égard de l’accessibilité</i>
		</h2>
		<ol start="38">
			<li>Le gouvernement du Canada est déterminé à maintenir une
				norme d’accessibilité élevée conformément à la <a
				href="https://www.tbs-sct.gc.ca/pol/doc-fra.aspx?id=23601">Norme
					sur l’accessibilité des sites Web</a> et la <a
				href="http://www.tbs-sct.gc.ca/pol/doc-fra.aspx?id=27088"> Norme
					sur l’optimisation des sites Web et des applications pour appareils
					mobiles</a> . Si vous rencontrez des difficultés en utilisant nos pages
				Web, applications ou applications pour appareils mobiles, veuillez
				communiquer avec nous pour obtenir de l’aide ou y avoir accès dans
				un média substitut, p. ex. un simple imprimé, un document en braille
				ou autre support approprié.
			</li>
		</ol>
		<h2>
			<i>Énoncé de confidentialité</i>
		</h2>
		<ol start="39">
			<li>Le gouvernement du Canada s’engage à offrir des sites Web
				qui respectent la confidentialité des visiteurs. Le présent énoncé
				de confidentialité résume les pratiques de protection des
				renseignements personnels s’appliquant à la boutique d’IPA du GC.<br />
				<br />
			</li>
			<li>La collecte de tous les renseignements personnels par cette
				institution est régie par la Loi sur la protection des
				renseignements personnels et par la Loi sur l’accès à l’information.
				Cela signifie que vous serez avisé de la raison pour laquelle vos
				renseignements personnels sont recueillis et de la façon d’exercer
				vos droits d’accès à l’information.</li>
		</ol>
		<h3>
			<i>Internet et la protection de vos renseignements personnels</i>
		</h3>
		<ol start="41">
			<li>La nature d’Internet est telle que les serveurs Web
				recueillent automatiquement certains renseignements concernant la
				visite d’un site Web, notamment l’adresse du protocole Internet (IP)
				du visiteur. Les adresses IP consistent en une série de numéros
				uniques attribués par les fournisseurs de services Internet (FSI) à
				tous les appareils utilisés pour accéder à Internet. Les serveurs
				Web enregistrent automatiquement les adresses IP des visiteurs sur
				leurs sites. L’adresse IP en soi ne permet pas d’identifier une
				personne. Par contre, dans certains cas, comme avec la coopération
				d’un FSI, elle peut être utilisée pour identifier une personne qui
				consulte le site. Pour cette raison, le gouvernement du Canada
				perçoit l’adresse IP comme un renseignement personnel, surtout
				lorsqu’elle est accompagnée d’autres données qui sont recueillies
				systématiquement lorsqu’un visiteur demande une page Web, comme la
				page ou les pages consultées, la date et l’heure de la visite.</li>
		</ol>
		<h3>
			<i>Marqueurs numériques (y compris les témoins)</i>
		</h3>
		<ol start="42">
			<li>Un marqueur numérique est une ressource créée par votre
				navigateur afin de retenir certains renseignements auxquels peut
				faire référence le serveur Web dans le cadre de la même visite ou de
				visites subséquentes. Les témoins et les spécifications de stockage
				Web HTML5 sont des exemples de marqueurs numériques. Voici certains
				exemples de ce que font les marqueurs numériques : <br /> <br />
				<ol type="a">
					<li>Ils permettent à un site Web de reconnaître la dernière
						visite de l’utilisateur chaque fois qu’il se rend sur le site;<br />
						<br />
					</li>
					<li>Ils cernent l’information qui est consultée sur un site,
						ce qui aide les administrateurs du site Web à s’assurer que les
						visiteurs trouvent ce qu’ils recherchent.</li>
				</ol> <br />
			</li>
			<li>La boutique d’IPA du GC utilise des marqueurs numériques sur
				certaines parties de son site Web, notamment pour déterminer si vous
				êtes connecté ou non au site. Pendant votre visite en ligne, votre
				navigateur échange des données avec le serveur Web de la boutique
				d’IPA du GC. Les marqueurs numériques utilisés ne permettent pas à
				la boutique d’IPA du GC d’identifier des personnes.<br /> <br />
			</li>
			<li>Vous pouvez ajuster les paramètres de votre navigateur de
				sorte à rejeter les marqueurs numériques, y compris les témoins, si
				vous le désirez. Toutefois, cela pourrait avoir une incidence sur
				votre capacité d’interagir avec la boutique d’IPA du GC.<br /> <br />
			</li>
			<li>Le recours au Web analytique, comme les témoins, pour
				mesurer et améliorer le rendement des sites Web du gouvernement du
				Canada est conforme à la Norme sur la protection de la vie privée et
				le Web analytique.</li>
		</ol>
		<h3>
			<i>Communiquer avec le gouvernement du Canada</i>
		</h3>
		<ol start="46">
			<li>Si vous décidez de nous envoyer un courriel ou de remplir un
				formulaire de rétroaction en ligne, nous utilisons vos
				renseignements personnels, soit vos nom et prénom, votre numéro de
				téléphone (le cas échéant), votre adresse et votre adresse
				électronique (le cas échéant) pour répondre à votre demande. Nous
				n’utilisons pas ces renseignements pour créer des profils
				individuels et nous ne les divulguons à personne d’autre qu’aux
				personnes du gouvernement fédéral qui doivent vous fournir une
				réponse. Toute communication de vos renseignements personnels doit
				se faire conformément à la Loi sur la protection des renseignements
				personnels.<br /> <br />
			</li>
			<li>Les courriels et autres méthodes électroniques utilisées
				pour communiquer avec nous ne sont pas sécuritaires, à moins qu’il
				ne soit précisé autrement dans la page Web. Il est donc recommandé
				de ne pas transmettre des renseignements personnels sensibles, comme
				votre numéro d’assurance sociale ou votre date de naissance, par des
				moyens électroniques non sécurisés.<br /> <br />
			</li>
			<li>Les renseignements personnels provenant des courriels ou des
				formulaires de rétroaction remplis sont recueillis conformément au
				paragraphe 4(1) et aux alinéas 5b), d) et e) et 6a), b), c) et d) de
				la Loi sur le ministère de l’Industrie.<br /> <br />
			</li>
			<li>Si vous refusez de fournir des renseignements personnels en
				remplissant un formulaire de rétroaction ou en utilisant une autre
				méthode de communication avec nous, nous pourrions ne pas être en
				mesure de vous répondre rapidement ou de vous répondre du tout.</li>
		</ol>
		<h3>
			<i>Identifiants de la boutique d’IPA du GC</i>
		</h3>
		<ol start="50">
			<li>Nous nous engageons à fournir des mesures qui respectent et
				valorisent votre vie privée et votre sécurité. Le présent article
				résume la politique et les pratiques en matière de protection des
				renseignements personnels qui s’appliquent aux identifiants de votre
				compte de la boutique d’IPA du GC.<br /> <br />
			</li>
			<li>Nous recueillons les renseignements personnels suivants
				lorsque vous ouvrez un compte de la boutique d’IPA du GC : nom,
				courriel, organisation. Le but de la collecte et de l’utilisation du
				« nom d’utilisateur, mot de passe et courriel » est d’émettre, de
				gérer et de valider les identifiants anonymes des personnes qui
				accèdent à nos systèmes et applications, ou qui communiquent avec
				eux, afin de fournir un service. Ces renseignements personnels sont
				recueillis conformément au paragraphe 4(1) et aux alinéas 5b), d) et
				e) et 6a), b), c) et d) de la Loi sur le ministère de l’Industrie.
				Ces renseignements servent à l’établissement d’un profil
				d’utilisateur dans le but de communiquer avec le gouvernement ou
				d’obtenir des produits ou des services de ce dernier (consulter les
				communications publiques – no d’IB POU 914).<br /> <br />
			</li>
			<li>Les renseignements personnels peuvent être utilisés pour
				établir des pistes de vérification de l’utilisation des
				identifiants. En cas d’infractions soupçonnées en matière de
				sécurité ou de protection de la vie privée, les renseignements
				personnels peuvent être communiqués aux responsables de la sécurité
				ministérielle, de l’accès à l’information et de la protection de la
				vie privée, ainsi qu’au ministère ou à l’organisme fédéral qui
				recueille et utilise les renseignements personnels considérés comme
				ayant été compromis (consulter le fichier standard de renseignements
				personnels sur les individus – Incidents de sécurité et atteintes à
				la vie privée – POU 939). En cas d’activité criminelle présumée, les
				renseignements personnels peuvent également être communiqués à la
				Gendarmerie royale du Canada aux fins d’enquête (consulter le
				fichier de renseignements personnels sur les individus propres à
				l’institution – Dossiers opérationnels – GRC PPU 005).<br /> <br />
			</li>
			<li>Nous utilisons des logiciels qui surveillent la transmission
				des données sur le réseau pour déceler toute tentative non autorisée
				de télécharger ou de modifier des renseignements, ou autre tentative
				visant à causer des dommages. Ce logiciel reçoit et inscrit
				l’adresse protocole Internet (IP) de l’ordinateur qui est entré en
				communication avec notre site Web, la date et l’heure de la visite,
				ainsi que les pages consultées. Nous n’essayons pas d’établir de
				lien entre ces adresses IP et l’identité des personnes qui visitent
				notre site, à moins que nous n’ayons décelé une manœuvre visant à
				endommager le site.<br /> <br />
			</li>
			<li>Si vous refusez de fournir les renseignements personnels
				nécessaires à l’ouverture d’un compte de la boutique d’IPA du GC,
				vous ne serez pas en mesure d’ouvrir un compte ou d’utiliser les
				services et données. Vous pourrez également avoir un accès limité
				aux renseignements fournis dans la boutique d’IPA du GC.<br /> <br />
			</li>
			<li>Vous avez le droit d’accéder à vos renseignements personnels
				et d’en demander la correction. Si vous avez des questions, des
				commentaires ou des plaintes au sujet de la présente politique ou de
				l’application de la Loi sur la protection des renseignements
				personnels relativement à votre compte de la boutique d’IPA du GC,
				veuillez communiquer avec le coordonnateur de l’accès à
				l’information et de la protection des renseignements personnels,
				comme suit:<br /> <br /> <strong> Innovation, Sciences et
					Développement économique Canada (anciennement Industrie Canada)</strong><br />
				Coordonnateur de l’accès à l’information et de la protection des
				renseignements personnels<br /> Tour Ouest<br /> 235, rue Queen,
				2e étage<br /> Ottawa (Ontario) K1A 0H5<br /> Téléphone : <a
				href="tel:1-343-291-2792">1-343-291-2792</a> <br /> Télécopieur : <a
				href="fax:1-343-291-1893">1-343-291-1893</a> <br /> <a
				href="mailto:ic.atip-aiprpa.ic@canada.ca">
					ic.atip-aiprpa.ic@canada.ca </a> <br /> <br />
			</li>
			<li>Pour obtenir de plus amples renseignements sur les questions
				de confidentialité ou la Loi sur la protection des renseignements
				personnels en général, veuillez consulter le site Web du <a
				href="http://www.priv.gc.ca/index_f.asp"> Commissariat à la
					protection de la vie privée du Canada </a> ou composer le <a
				href="tel:1-800-282-1376">1-800-282-1376</a> .<br /> <br />
			</li>
			<li>En sélectionnant « J’accepte », vous indiquez que vous
				acceptez les présentes conditions d’utilisation.</li>
		</ol>
	</div>
	<div class="wb-frmvld">
		<form method="post" action="termsAccepted">
			<input type="hidden" id="requestId" name="requestId" th:value="${id}" />
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-lg"
					th:text="#{submitTermAgreement}"></button>
				<a href="https://alpha.canada.ca" class="btn btn-default btn-lg" th:text="#{decline}"></a>
			</div>
			<p>
				<span th:text="#{assistMsg}"></span><a
					href="mailto:dto.btn@tbs-sct.gc.ca">dto.btn@tbs-sct.gc.ca</a>
			<p>
		</form>
	</div>
</div>
</html>
