kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: indexer-pv-claim
  annotations:
    pv.beta.kubernetes.io/gid: "8080"
spec:
  storageClassName: default
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
