<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{layouts/default}"
    lang="en">

<head>
  <title>Barcode Scanner</title>
  <style>
      #interactive.viewport {
         position: relative;
         width: 100%; 
         height: auto; 
         overflow: hidden; 
         text-align: center;
/*
         -moz-transform: scale(-1, 1);
         -webkit-transform: scale(-1, 1); -o-transform: scale(-1, 1);
         transform: scale(-1, 1); filter: FlipH;
*/
      }
      #interactive.viewport > canvas,
      #interactive.viewport > video {
          max-width: 100%;
          width: 100%;

      }
      canvas.drawing, 
      canvas.drawingBuffer {
          position: absolute;
          left: 0;
          top: 0;
      }
  </style>
</head>
<body>

<div layout:fragment="page_about">

  <!--/* === ABOUT ======================================================= */-->

  <ul class="mb-0">
    <li>
      <strong>Purpose:</strong> show how users could take pictures of
      their product barcode to search.
    </li>
    <li>
      Implementors can decide to support <strong>multiple barcodes 
      formats</strong> activated at once, but it increases the risks of 
      mismatch.
    </li>
    <li>
      Please try on your <strong>mobile</strong> since desktop browsers
      usually limit the camera resolution which makes it difficult to get
      a good scan.
    </li>
    <li>
      We could offering to <strong>upload an image</strong> as well, 
      or provide an image URL.
    </li>
    <li>
      Refer to this <strong><a rel="noopener noreferrer" 
      href="http://www.barcode-generator.org/" target="_BLANK">
      list of barcode formats</a></strong> and generate 
      some for testing.
    </li>
  </ul>
</div>

<div layout:fragment="page_content" id="page_content">

  <h2>Barcode Scanner</h2>

  <form id="searchForm"  
      action="#" th:action="@{''}" th:object="${barcodeConfig}" method="get">

    <div class="row pt-3">
      <div class="col-sm-12 col-md-9 col-lg-6">
      
        <div class="input-group">
          <input id="scanner_input" class="form-control" placeholder="Click the barcode button to scan..." type="text"> 
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#livestream_scanner">
              <span class="fas fa-barcode"></span>
            </button>
          </div>
        </div>
      
      </div>
      <div class="col-sm-12 col-md-9 col-lg-6 form-inline">
        Decoder: 
        <select id="decoder" th:field="*{decoder}" class="ml-2 form-control">
          <option th:value="codabar_reader">Codabar</option>
          <option th:value="code_128_reader">Code 128</option>
          <option th:value="code_39_reader">Code 39</option>
          <option th:value="code_39_vin_reader">Code 39 VIN</option>
          <option th:value="code_93_reader">Code 93</option>
          <option th:value="ean_reader">EAN</option>
          <option th:value="ean_extended">EAN Extended</option>
          <option th:value="ean_8_reader">EAN 8</option>
          <option th:value="2of5_reader">2of5 Standard</option>
          <option th:value="i2of5_reader">2of5 Interleaved</option>
          <option th:value="upc_reader" selected="selected">UPC</option>
          <option th:value="upc_e_reader">UPC Extended</option>
        </select>
      </div>
    </div>

  </form>

  <div class="modal" id="livestream_scanner">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Barcode Scanner</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="position: static">
          <div id="interactive" class="viewport"></div>
          <div class="error"></div>
        </div>
        <div class="modal-footer">
          <!--/*
          <label class="btn btn-default float-left">
            <span class="fas fa-camera"></span> Use camera app
            <input type="file" accept="image/*;capture=camera" capture="camera" class="d-none" />
          </label>
          */-->
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script th:src="@{/js/quagga.min.js}"></script>

</div>

<script type="text/javascript" layout:fragment="scripts">
$(function() {
    var decoder = $('#decoder').val();
    //alert(decoder);
    
    // Create the QuaggaJS config object for the live stream
    var liveStreamConfig = {
            inputStream: {
                type : "LiveStream",
                constraints: {
                    width: { min: 640, ideal: 1280, max: 1920 },
                    height: { min: 480, ideal: 720, max: 1080 },
   //                 aspectRatio: 1 / 1,
                    facingMode: "environment" //"environment" or "user" for the front camera
                }
//                , singleChannel: true
            },
//             area: { // defines rectangle of the detection/localization area
//                 top: "25%",    // top offset
//                 right: "25%",  // right offset
//                 left: "25%",   // left offset
//                 bottom: "25%"  // bottom offset
//             },
            locate: true,
            locator: {
                patchSize: "medium",
                halfSample: true
            },
            numOfWorkers: (navigator.hardwareConcurrency ? navigator.hardwareConcurrency : 4),
//            frequency: 10,
            decoder: {
                "readers": [ decoder ]
            }
        };
    // The fallback to the file API requires a different inputStream option. 
    // The rest is the same 
    var fileConfig = $.extend(
            {}, 
            liveStreamConfig,
            {
                inputStream: {
                    size: 800
                }
            }
        );
    // Start the live stream scanner when the modal opens
    $('#livestream_scanner').on('shown.bs.modal', function (e) {
        Quagga.init(
            liveStreamConfig, 
            function(err) {
                if (err) {
                    $('#livestream_scanner .modal-body .error').html('<div class="alert alert-danger"><strong><i class="fa fa-exclamation-triangle"></i> '+err.name+'</strong>: '+err.message+'</div>');
                    Quagga.stop();
                    return;
                }
                Quagga.start();
            }
        );
    });
    
    // Make sure, QuaggaJS draws frames an lines around possible 
    // barcodes on the live stream
    Quagga.onProcessed(function(result) {
        var drawingCtx = Quagga.canvas.ctx.overlay,
            drawingCanvas = Quagga.canvas.dom.overlay;
 
        if (result) {
            if (result.boxes) {
                drawingCtx.clearRect(0, 0, 
                        parseInt(drawingCanvas.getAttribute("width")), 
                        parseInt(drawingCanvas.getAttribute("height")));
                result.boxes.filter(function (box) {
                    return box !== result.box;
                }).forEach(function (box) {
                    Quagga.ImageDebug.drawPath(box, {x: 0, y: 1}, 
                            drawingCtx, {color: "green", lineWidth: 2});
                });
            }
 
            if (result.box) {
                Quagga.ImageDebug.drawPath(result.box, {x: 0, y: 1}, 
                        drawingCtx, {color: "#00F", lineWidth: 2});
            }
 
            if (result.codeResult && result.codeResult.code) {
                Quagga.ImageDebug.drawPath(result.line, {x: 'x', y: 'y'}, 
                        drawingCtx, {color: 'red', lineWidth: 3});
            }
        }
    });
    
    // Once a barcode had been read successfully, stop quagga and 
    // close the modal after a second to let the user notice where 
    // the barcode had actually been found.
    Quagga.onDetected(function(result) {            
        if (result.codeResult.code){
            $('#scanner_input').val(result.codeResult.code);
            Quagga.stop();  
            setTimeout(function(){ $('#livestream_scanner').modal('hide'); }, 1000);            
        }
    });
    
    // Stop quagga in any case, when the modal is closed
    $('#livestream_scanner').on('hide.bs.modal', function(){
        if (Quagga){
            Quagga.stop();  
        }
    });
    
     $('#decoder').change(function() {
         $('#searchForm').submit();
     });
//     // Call Quagga.decodeSingle() for every file selected in the 
//     // file input
//     $("#livestream_scanner input:file").on("change", function(e) {
//         if (e.target.files && e.target.files.length) {
//             Quagga.decodeSingle($.extend({}, fileConfig, {src: URL.createObjectURL(e.target.files[0])}), function(result) {alert(result.codeResult.code);});
//         }
//     });
});
</script>

</body>
</html>
