<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}" xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="content">
	<form action="addProblem" method="post">
		Problem:<input type="text" name="problem" value="" /> Problem
		Details:<input type="text" name="problemDetails" value="" /> URL:<input
			type="url" name="url" value="" /> <input type="hidden"
			name="language" value="en" /> <input type="submit" value="submit" />
	</form>
</th:block>
</html>